#Resposta{

    margin-top: 15px;
    
}
#butt{
    margin-top: 15px;
}
#corpo{
    background-color: rgb(60, 143, 71);
}
li{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 60%;
    margin-left: 5px;
}
