#Resposta{

    margin-top: 15px;
}
#button{
    margin-top: 15px;
}
body{
    background-color: coral;
}

.icone.lupa {
    width: 40px;
    height: 40px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
  }
  
  .icone.lupa:after {
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: black;
    display: block;
    content: "";
    top: 30%;
    left: 30%;
    
    transform: rotate(45deg);
    transform-origin: -10px 40px;
    
  }